/ * Website Defaults */
body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}


ul.flashes {
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}

ul.flashes li {
    background: #0c9115;
    border: 1px solid #013014;
    color: white;
    padding: 4px;
    font-size: 13px;
}

ul.flashes li.error {
	background: #e10f0f;
	border: 1px solid #DD6F6F;
    color: white;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    padding: 4px;
    font-size: 13px;
}


body {
    max-width: 95vw;
}

/* Frontpage */

#new-experiment-input, #new-experiment-button {
    width: 100%;
}


/* Experiments Page */

td input[type="number"],
td textarea,
td select {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
}

td input[type="number"]:focus,
td textarea:focus,
td select:focus {
    outline: none;
}

#description-textarea{
    height: 0.8em;
}

#run-experiments-button {
    background-color: #0c9115;
}

.outdated td {
    background-color: rgb(237, 0, 0);
}